.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #212121;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  filter: brightness(0.9) invert(1);
}

.youtube-logo{
  width: 120px;
  height: 27px;
  margin-left: -20px;
}

.middle-section{
  flex: 1;
  margin-left: 40px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #404040;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
  width: 0;
  background-color: #121212;
  color: #f1f1f1;
  box-sizing: border-box;
}

.search-bar::placeholder{
  font-size: 14px;
  color: #888888;
  padding-left: 6px;
}

.search-bar:focus,
.search-bar:focus-visible {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #1e88e5;
  box-shadow: 0 6px 18px rgba(30, 136, 229, 0.12);
}

.search-button{
  height: 36px;
  width: 58px;
  background-color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #404040;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 0px;
  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap; /*will ot wrap*/

}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.search-icon{
  height: 25px;
  filter: brightness(0.8) invert(1);
}

.voice-search-button{
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: none;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voice-search-icon{
  height: 20px;
  filter: brightness(0.9) invert(1);
}

.right-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
  filter: brightness(0.9) invert(1);
}

.youtube-apps-icon{
  height: 24px;
  filter: brightness(0.9) invert(1);
}

.notifications-icon{
  height: 24px;
  filter: brightness(0.9) invert(1);
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.current-user-picture{
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.youtube-logo-container {
  position: relative;
}

.youtube-logo-container .mimo-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}