.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;

  background-color: #212121;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #f1f1f1;
}

.sidebar-link:hover {
  background-color: #333333;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
  filter: brightness(0.9) invert(1);
}

.sidebar-link div {
  font-size: 10px;
}